body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}

#app {  
  margin-left: 100px;
  margin-right: 100px;
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block; 
}

form div {
  margin: 1em;
  display: inline-block;
}

.button {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.hr {
  border: 10px;
  border-top: 1px solid;
  margin: -10px -100px 10px -100px;
}

/** Navbar **/
nav {
  text-decoration: none;
  padding: 0 0 10px 0;
}

nav a, nav li {
  color: #4d4d4d;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 0;
}

.nav-flex-item img.logo {
  display: block;
  width: 210px;
  cursor: pointer;
}

.nav-top {
  margin: 5px 0 0 -50px;
}

.nav-title {
  font-size: 35px;
}

.nav-flex-item a {
  display: block;
  margin: auto;
  /* padding: 1rem auto x1rem auto; */
}

.nav-top-level {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px 0 0;
  align-items: center;
  margin: 0;
}

.nav-top-level li, .nav-bottom-level li {
  padding: 0 20px 0 0 ;
  vertical-align: middle;
  cursor: pointer;
}

.nav-bottom-level, .nav-second-bottom-level {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
  font-size: 12px;
  margin: -7px auto 20px auto;
}

.nav-bottom-level li:nth-child(n+2) {
  text-decoration: underline;
}

.nav-second-bottom-level li{
  text-decoration: underline;
  padding: 0 25px 0 0 ;
  vertical-align: middle;
  cursor: pointer;
}

.questionsH1 {
  text-align: center;
  margin: 2rem auto;
}

.questionsH2 {
  text-align: center;
  margin: 2rem auto 0 auto;
}

#paint {
  display: block;
  margin-left: -10px;
  margin-top: -10px;
  width: 110%;
  height: .6rem;
  /* background: black; */
  background: linear-gradient(
    to right, 
    #c2c5ff,
    #c2f9ff 8%,
    #c8a2f0 8%,
    #f0a2c2 85%,
    #c2d8ff 85%
  );
}

/** Search Bar **/
.searchbar-btn a {
  text-decoration: none;
  color: white;
}

.searchbar-btn {
  width: 160px;
  height: 44px;
}

/** Budget **/
.budget-div {
  margin: 3rem 10rem;
  padding: 2rem; 
  border: .5px solid lightgray;
  background-color: #e8e9ff;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #0000ff33;
}

/* .sliderBudget {
  height: 1rem;
  cursor: pointer;
  width: 75%;
  -webkit-appearance: none;
	background-color:#91a4d9;
  border-radius: 5px;
}

.sliderBudget::-webkit-slider-thumb {
  -webkit-appearance: none;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #91a4d9;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
  transition: 0.2s ease-in-out;

}

.sliderBudget::-webkit-slider-thumb:hover {
  box-shadow: #d46a6a50 0px 0px 0px 8px;
}

.sliderBudget::-webkit-slider-thumb:active {
  box-shadow: #d46a6a50 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sliderBudget::-webkit-slider-runnable-track {
  -webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
} */

.budget-value {
  font-size: 25px;
  text-align: center;
  margin-bottom: auto;
}

.budget-label {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  text-align: center;
}

/** Return and Continue **/
.return-div {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem auto;
  color: black;
  text-decoration: none;
}

/** Person Suggestions **/
.persons-div {
  margin: 3rem 10rem;
  padding: 2rem; 
  border: .5px solid lightgray;
  background-color: #e8e9ff;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #0000ff33;
}
.person-div {
  margin: auto 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.query {
  width: 28rem;
  box-sizing: border-box;
  font-size: 25px;
  padding: 8px 8px 8px 15px;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.person-suggestions {
    margin: 0;
    font-size: 19px;
    font-weight: bolder;
    width: 430px;
    list-style-type: none;
    text-decoration: underline;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 6px 5px 9px 10px;
    background: white;
    border-radius: 5px;
}

.person-suggestions li {
  padding: 5px 5px 7.5px 5px;
}

.person-div span {
  display: block;
  position: absolute;
  background: #FFD32E;
  bottom: -35px;
  left: -1px;
  width: 400px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

.person-bottom-div {
  margin: auto 8rem;
}

/** Category Questionnaire **/
.categories-div {
  align-items: center;
  margin: 3rem 10rem;
  padding: 2rem; 
  border: .5px solid lightgray;
  background-color: #e8e9ff;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #0000ff33;
}

.category-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  font-family: Quicksand;
}

.category-btn  {
  width: 130px;
  height: 110px;
  margin: 40px 20px 0px 20px; 
  cursor: pointer;
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
  border: 1px solid lightgray;
  border-radius: 10%;
  font-family: Quicksand;
  color: rgb(53, 53, 53);
  font-size: 18px;
  padding: .5rem;
}

.category-btn:hover {
  background: white;
  color: #91a4d9;
  border: 2px solid #91a4d9;
  filter: drop-shadow(5px 5px 0 0 lightgray);
}

.category-btn:active {
  filter: none;
}

.category-selected {
  /* border: 2px solid hsl(224, 49%, 71%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #91a4d9;
  color: white; */
  filter: none;
}

/** Account Menu **/
.account-menu {
  padding: 0;
}

.account-menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-menu a {
  font-family: 'Quicksand', sans-serif;
  color: black;
}

/** Notification **/
.notification-div {
  margin: 25px 100px
}

.notification-div h1{
  font-size: 20px;
}

/** Result **/
.startOverBtn {
  display: flex;
  justify-content: center;
}

.results-div {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-div > div {
  width: 300px;
  padding: 0;
  margin: 0 15px 30px 15px;
  cursor: pointer;
  border-radius: 5%;
}

.results-div li {
  font-size: 16px;
  padding: .5rem 1rem 0 1rem;
  text-align: center;
}

.results-div img {
  display: block;
  object-fit: cover;
}

/** Questions Starting Page **/
.questions-div {
  margin: 3rem 10rem;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: .5px solid lightgray;
  background-color: #e8e9ff;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #0000ff33;
}

.questions-div p {
  text-align: center; 
  font-size: 20px;
}