body {
  font-family: 'Quicksand', sans-serif;
  background-color: #faf7f0;
}

#app {  
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.button {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;

}

/** Navbar **/
nav {
  text-decoration: none;

}

nav a, nav li {
  color: #4d4d4d;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-title {
  font-size: 35px;
}

.nav-flex-item a {
  display: block;
  margin: auto;
}

.nav-top-level {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav-top-level li {
  padding: 10px;
  vertical-align: middle;
  cursor: pointer;
}

/** Search Bar **/
.searchbar-btn a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

/** Budget **/
.sliderBudget {
  height: 2rem;
  cursor: pointer;
  width: 80%;
}

/* .sliderBudget::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  background-size: 28px 28px;
  cursor: pointer;
}

.budget-value {
  font-size: 50px;
  font-family: Petrona;
  text-align: center;
  margin-bottom: auto;
}

@media only screen and (max-width: 700px) {
  .sliderBudget {
    width: 80%;
    height: 12px;
  }
  .sliderBudget::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .budget-value {
    font-size: 16px;
  }
} */
